.mainpage{
    width: 100vw;
    height: auto;
    background: url("https://ik.imagekit.io/privateamazon09/bigimage1.jpg?updatedAt=1679556689572") no-repeat 0 0;
    background-size: 100vw;
    background-color: #EAEDED;
}